<!doctype html>
<title>FeedMe at UChicago</title>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/hello.css" type="text/css" >
</head>
<body>
{% if startletter %}
  <h1>{{startletter}}:</h1>
{% else %}
  <h1>Here's a list of all allergen and ingredient information:</h1>
{% endif %}
{% for e in entries %}
	<p><h2>{{ e.id}}</h2><h3> {{e.gluten}} {{ e.milk}} {{ e.fish}} {{ e.shellfish}} {{ e.peanut}} {{ e.treenut}} {{ e.wheat}} {{ e.soy}}</h3><br>{{e.ingredients}}</p><br>
{% endfor %}
</body>