<!doctype html>
<title>FeedMe at UChicago</title>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/hello.css" type="text/css" >
</head>
<body>
<p id="info">
All information is provided by UChicago Dining, either through [<a href="http://www.campusdish.com/en-US/CSMW/UnivofChicago/"> their menu website </a>] or the dietician on staff. The creator of this app takes no responsibility for missing or incorrect information. If you are unsure if a food is safe for you to eat, you should talk to a manager at the dining hall or email the registered dietician at [ <a href="mailto:dining-dietitian@uchicago.edu">dining-dietitian@uchicago.edu</a> ].
</p>

</body>