<!doctype html>
<title>FeedMe at UChicago</title>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/hello.css" type="text/css" >
</head>
<body>

{%if entries != [] %}
{% for e in entries %}
	<p><h2>{{ e.id}}</h2><h3> {{e.gluten}} {{ e.milk}} {{ e.fish}} {{ e.shellfish}} {{ e.peanut}} {{ e.treenut}} {{ e.wheat}} {{ e.soy}} {{e.egg}}</h3><br>{{e.ingredients}}</p><br>
{% endfor %}
{% else %}
<h1> Oops! </h1>
<p>We don't have the allergy information for that item. Try <a href="/browse" class="textlink">browsing</a> for a similar item, or email the dietician at <a href="mailto:dining-dietitian@uchicago.edu" class="textlink">dining-dietitian@uchicago.edu</a> with any questions.</p>
{%endif%}
</body>