<!doctype html>
<title>FeedMe at UChicago</title>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/hello.css" type="text/css" >
</head>
<body>

<h1 id="question">What are your allergies?</h1>
<div id="allergyform">
<form>
<input type="checkbox" class="allergy" id="Wheat">
<label for="Wheat" class="labelcheck">wheat</label>
<input type="checkbox" class="allergy" id="Gluten">
<label for="Gluten" class="labelcheck">gluten</label>
<input type="checkbox" class="allergy" id="Milk">
<label for="Milk" class="labelcheck">milk</label>
<input type="checkbox" class="allergy" id="Peanut">
<label for="Peanut" class="labelcheck">peanut</label>
<input type="checkbox" class="allergy" id="Tree Nut">
<label for="Tree Nut" class="labelcheck">tree nut</label>
<input type="checkbox" class="allergy" id="Fish">
<label for="Fish" class="labelcheck">fish</label>
<input type="checkbox" class="allergy" id="Shellfish">
<label for="Shellfish" class="labelcheck">shellfish</label>
<input type="checkbox" class="allergy" id="Egg">
<label for="Egg" class="labelcheck">egg</label>
<input type="checkbox" class="allergy" id="Soy">
<label for="Soy" class="labelcheck">soy</label>
</form>
</div>
<div class="button">
<input type="submit" value="Submit" id="go">
<label for="go">>> </label>
</div>
</body>