<!doctype html>
<title>FeedMe at UChicago</title>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/hello.css" type="text/css" >
</head>
<body>

<h1 id="question">What are your allergies?</h1>
<div id="allergyform">
<form action="" method="post">
{{ form.hidden_tag() }}
{{form.gluten(class_='allergy')}} 
<label for="gluten" class="labelcheck">gluten</label>
{{form.milk(class_='allergy')}} 
<label for="milk" class="labelcheck">milk</label>
{{form.peanut(class_='allergy')}}
<label for="peanut" class="labelcheck">peanut</label> 
{{form.treenut(class_='allergy')}} 
<label for="treenut" class="labelcheck">tree nut</label>
{{form.wheat(class_='allergy')}} 
<label for="wheat" class="labelcheck">wheat</label>
{{form.soy(class_='allergy')}}
<label for="soy" class="labelcheck">soy</label> 
{{form.egg(class_='allergy')}} 
<label for="egg" class="labelcheck">egg</label>
{{form.fish(class_='allergy')}} 
<label for="fish" class="labelcheck">fish</label>
{{form.shellfish(class_='allergy')}}
<label for="shellfish" class="labelcheck">shellfish</label>


</div>
<div class="button">
<input type="submit" value="Submit" id="go">
<label for="go">>> </label>
</div>

</form>

</body>